
.sliderCard{
    margin: 5px;
    
    height: 38rem;
   
    /* background-color: red; */
    margin-top: -80px;
    
}
.course_text{
    color: black;
}
/* .mainBox{
    padding: 0;
} */
.courses {
    width: 100%;
    background: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 20px;
}
.spokenEnglishCard{
    background-color: red;
}
@media screen and (max-width: 768px) {
    .milestones_container{
      margin-left: 5rem;
    }
    .milestones_container {
        position: inherit;
        left: -1%;
    }
    .grouped_sections {
        width: 100%;
        background: #FFFFFF;
        padding-top: 30px;
        padding-bottom: 0px;
        /* text-align: right; */
        margin-left: -50px;
    }
    .Highlights {
        text-align: left;
        margin-left: 70px;
    }
    .copyright {
        font-size: 12px;
        font-weight: 500;
        color: #b3b3b3;
        margin-top: 43px;
        position: absolute;
        top: 85rem;
    }
   
    }






