/* .FooterLogoSize{
   
       margin-bottom: 40px;
 
} */
/* .footer .logo_container {
    position: absolute;
    top: -55px;
    left: 0;
} */
.text{
    text-align: left;
}
.homeLinks{
margin-right: -100px;
}
.footer {
    width: 100%;
    height: 56vh;
    background: #f2f1f8;
    padding-top: 30px;
    padding-bottom: 30px;
}