.home_slider_background{
    background-image:url(https://cdn.pixabay.com/photo/2013/07/21/13/00/rose-165819_640.jpg)
}
.featured_background{
    background-image:url(https://cdn.pixabay.com/photo/2013/07/21/13/00/rose-165819_640.jpg)
}

.join{
    margin-bottom: 33px;
    padding-top: 0px;
}
.whyChooseUs{
    margin: 10%;
    padding: 0px;
}
.grouped_sections {
    width: 100%;
    background: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 0px;
}
.grouped_title {
    font-size: 30px;
    font-weight: 600;
    color: #44425a;
    width: 425px;
}
.Highlights{
    text-align: left;
}
.HighlightsHeading{
   /* position: relative;
   right: 10%; */
   position: absolute;
   right: 30px;
   font-size: 30px;
    font-weight: 600;
    color: #44425a;
   /* font-size: 1.5rem;
   font-weight: bolder; */

   /* color: red; */
}