.news_post_body{
    margin-top: 40%;
}
.news_post_text{
    text-align: left;
}
.courseDetail{
    text-align: left;
}
.Arrow{
    color: #ff8a00;
    font-weight: bold;
}
.Arrow:hover{
    color: #ff6600;
    font-size: larger;
}
.news {
    width: 100%;
    background: #FFFFFF;
    padding-top: 0px;
    padding-bottom: 0px;
}
.CourseImage{
    height: 450px;
    width: 795px;
}



.carouselBox{
    height: 30rem;

    background-image: url(https://capslearning.org/assets/images/blogs/all-about-Std-11th&Std-12th-Commerce.jpeg);
}


@media screen and (max-width: 600px) {
    .news_post_text {
      /* Adjust styles for small screens */
      position: relative;
      top: 40px;
    }
  }
