.carouselBoox{
    width: 100%;
    height: 25rem;
    margin-top: 150px;
    background-position: center;
    background-size: cover;
    background-image: url(https://www.sharda.ac.in/blog/attachments/blog_images/MBA-vs-MCOM2-min.jpg);
    background-repeat: no-repeat;
}