.main {

    text-align: start;
    flex-direction: column;
    border: 2px solid gray;
    margin: 70px;
    padding: 20px;

}

table {
    text-align: center;
    margin-left: 15%;
    border-collapse: collapse;
    border: 1px solid black;
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 8px;
    /* Optional: Add padding for better visual appearance */
}

th {
    border: 1px solid black;
    padding: 8px;
    /* Optional: Add padding for better visual appearance */
}
.carouselLBox{
    width: 100%;
    height: 25rem;
    margin-top: 150px;
    background-position: center;
    background-size: cover;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu8Vwl3Hvyo2Vg3e2La5hWKHKxOUdDqCjybKpLf9sOv-Xh_EJYak4lOgEcrFSy_4P6Cz4&usqp=CAU);
    background-repeat: no-repeat;
}