.formBox{
    margin-top: 200px;
    margin-bottom: 40px;
}
.formInputs{
    width: 35%;
}
.formLabel{
    color: #ff6600;
    text-align: left;
    margin-left: 33%;
    /* font-weight: bold; */
}
.enquiryFormHeading{
    color: #ff6600;
}
.error{
    color: red;
    /* margin-right: 350px; */
}

@media screen and (max-width: 768px) {
    .formInputs{
        width: 48%;
    }
    .formLabel{
        color: #ff6600;
        text-align: left;
        margin-left: 28%;
        /* font-weight: bold; */
    }
}